[submodule "deps/rust-http"]
	path = deps/rust-http
	url = https://github.com/chris-morgan/rust-http.git
[submodule "deps/rust-openssl"]
	path = deps/rust-openssl
	url = https://github.com/sfackler/rust-openssl.git
